@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --font-main: "Lexend", sans-serif;
  --button-color: #4f345a;
  --btn-text-color: #f2f0e6;
  --btn-shadow-color: #f2f0e6;
  --text-bright-color: #f2f0e6;
  --text-dark-color: #212121;
  --link-color: #99ca3c;
  --background--primary-color: #da9758;
  --background--secondary-color: gray;
  --background--results-color: #f2f0e6;

  --app-width: 100%;
  --app-height: 250px; */

  --font-main: "Lexend", sans-serif;
  --primary-color: #da9758;
  --secondary-color: #4f345a;
  --tirtary-color: #99ca3c;
  --white-color: #f2f0e6;
  --black-color: #212121;
  --mid-color: lightgray;
}

* {
  font-family: var(--font-main);
  margin: 0;
  font-size: 14px;
  color: var(--black-color);
}
  
body {
  background-color: var(--primary-color);
  padding: 1em; 
  gap: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: var(--secondary-color);
  text-align: center;
  /* padding-top: 1em; */
  padding-bottom: 0.1em;
};

/* FOR THE POPUP DIALOGS */
/* dialog {
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: var(--black-color);
  background-color: var(--background--results-color);
}

#error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tip {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
} */
/* END OF POPUP DIALOGS */

/* #appHolder {
  height: var(--app-height);
  width: var(--app-width);
} */

.export__section {
  padding-top: 1em;
  padding-bottom: 1em;
}

.export__section p {
  text-align: justify;
  padding-bottom: 1em;
  /* text-justify: newspaper; */
}

.export__section a {
  color: var(--secondary-color);
}

.export__section_copyBtn {
  background-color: var(--black-color);
  border: none;
  cursor: pointer;
  color: var(--white-color);
  font-weight: bold;
  padding: 1em;
  border-bottom: 1px solid var(--white-color);
  border-radius: 5px 5px 0 0;
  transition: all 500ms;
  font-size: xx-small;
  width: 100px;
}
.export__section_copyBtn:hover {
  background-color: var(--white-color);
  color: var(--black-color);
}
.export__section_copyBtn.copied {
  background-color: var(--tirtary-color);
  color: var(--white-color);
}

.export__section_codeBox {
  /* position: relative; */
  background-color: var(--black-color);
  color: var(--white-color);
  border: 1px solid var(--white-color);
  padding: 5px;
  font-family: monospace;
  white-space: nowrap;
  height: 25px;
  overflow-x: auto;
}

#styleForm {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
  padding: 1em;
}

@media (min-width: 768px) {
  #styleForm {
    grid-template-columns: repeat(2, 1fr 2fr);
  }
}

@media (min-width: 1024px) {
  #styleForm {
    grid-template-columns: repeat(3, 1fr 2fr);
  }
}

#styleForm > *:nth-child(25) {
  grid-column: 1 / -1; /* Span across all columns */
}

.styleForm__submit {
  /* grid-column: span 2; */
  background-color: var(--black-color);
  color: var(--tirtary-color);
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 1em;
  border-radius: 5px;
  transition: all 500ms;
}
.styleForm__submit:hover {
  opacity: 0.9;
}

.styleForm__holder {
  background-color: var(--secondary-color);
  color: var(--white-color);
  cursor: pointer;
  padding: 1em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  /* font-weight: 700; */
}

.active, .styleForm__holder:hover {
  background-color: var(--tirtary-color);
  color: var(--black-color);
}

.styleForm__holder:after {
  content: '\002B';
  /* color: var(--); */
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  /* color: var(--text-dark-color); */
}

.styleForm__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--mid-color);
}

/* .sizable * {
  font-size: max(2.8vmin, 3rem);
}

@media (max-width: 700px) {
  .sizable * {
    font-size: min(5vw, 3rem);
  }
}
@media (max-height: 250px) {
  .sizable * {
    font-size: min(5vh, 3rem);
  }
} */

.welcome__text {
  text-align: center;
  padding-bottom: 1em;
}

/* iframe {
  /* width: min(auto, 100%); */
  /* height: 100%; */
  /* border: none; */
  /* align-self: center; */ /* this line changes EVERYTHING */
  /* margin: auto; */
/*} */
  